build
devel
logs
install
log
.catkin_tools
.vscode
*.csv
.cache
*.json
__pycache__
cmake_build

# Allow vendored ROS interface manifests to be versioned
package.xml
!src/rl_sar/library/thirdparty/titati_hardware/**/package.xml
